{% extends 'gestion_cdi/base.html' %}

{% block titulo %}Inicio - CDI{% endblock %}

{% block contenido %}
<div class="mb-4">
    <h2>Resumen del Sistema</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-body">
                <h5 class="card-title">Pacientes Registrados</h5>
                <p class="card-text fs-1">{{ total_pacientes }}</p>
                <a href="{% url 'lista_pacientes' %}" class="btn btn-light btn-sm mt-2">Ver Directorio</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-info mb-3 shadow">
            <div class="card-body">
                <h5 class="card-title">Personal Activo</h5>
                <p class="card-text fs-1">{{ total_personal }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3 shadow">
            <div class="card-body">
                <h5 class="card-title">Equipos en Inventario</h5>
                <p class="card-text fs-1">{{ total_equipos }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}