{% extends 'tareas/base.html' %}

{% block content %}
    <h3 class="mb-3 text-secondary">Nueva Tarea</h3>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.as_p }}
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'lista_tareas' %}" class="btn btn-secondary me-md-2">Cancelar</a>
            <button type="submit" class="btn btn-primary">💾 Guardar Tarea</button>
        </div>
    </form>
{% endblock %}